################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/P4Project/v16/Server/sqlite3/db.lock
