################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/P4Project/v16/Server/sqlite3/db.lock
/.vs/P4Project/v16/Server/sqlite3/storage.ide
/.vs/P4Project/v16/Server/sqlite3/storage.ide-shm
/.vs/P4Project/v16/Server/sqlite3/storage.ide-wal
*.ide
.vs/P4Project/v16/Server/sqlite3/storage.ide-shm
.vs/P4Project/v16/Server/sqlite3/storage.ide-wal
